<%- include('./partials/head.ejs') %>
<%- include('./partials/nav.ejs') %>

<body>
    <h1>about</h1>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ducimus sapiente ipsum eius accusamus illum est tempore
        non atque qui dolores, dolor molestias dolore at explicabo. Esse ipsa iste commodi maiores ut voluptatum
        repudiandae ullam expedita tempora quam omnis quaerat tempore, ipsam aperiam doloribus voluptas voluptate ad
        sint atque corporis. Magni!</p>
    <%- include('./partials/footer.ejs') %>
</body>

</html>